.container {
  border: 1px solid lightgrey;
  background: lightgreen;
}

.section {
  display: flex;
  flex-direction: column;
}

.button {
  cursor: pointer;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
  padding: 0.4em;
  margin: 0.4em;
  transition: all 0.2s;
}

.button:hover {
  background-color: black;
  color: white;
}
