@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.header {
  width: 100%;
  padding: 0.4em;
  position: relative;
}

.logo {
  width: 100px;
  height: 100px;
}

.title {
  font-family: "Indie Flower", cursive;
  font-size: 2.2rem;
  margin: 0;
  text-align: center;
}

.logout {
  position: absolute;
  top: 5px;
  right: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.logout:hover {
  opacity: 0.8;
}
